<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hello World!</title>
</head>
<body>
<h1 th:inline="text">Hello.v.2</h1>
 <table border="1">  
              <tr  th:each="user,userStat : ${index}">  
                <td th:text="${user.id}">Onions</td>  
                <td th:text="${user.name}">test@test.com.cn</td>  
              </tr>  
            </table>  
</body>
</html>